.aboutScreen {
    padding-top: 60px;
    background: #E9DDD2;;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    overflow: hidden;
    height: 135vh;


  }
  .hello {
    position: relative;
    top: -50px; 
    left: 50%;
    border-radius: 50px;
    border: 2px solid #F27507;
    background: rgba(217, 217, 217, 0.00);
    width: 85px;
    color: black;
    height: 32px;   
         
  }
  .smalllineup {
    position: relative;
    top: -40px;
    left: 56.3%;
    width: 27.5px;
    height: 28.5px;
    rotate:16deg;

  }
  
  .nameline {
    display: flex;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    gap: 10px; 
    margin-left: 80px;
    
  }
  .im {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
  }
  .saumya {
    color: #403E3C;
    font-size: 30px;
    font-weight: 700;
    color: #F27507;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
  }
  .herathabout {
    color: #403E3C;
    font-size: 30px;
    font-weight: 700;
    color: #403E3C;
    font-family: Montserrat;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .nametopline {
    margin-top: 0px;
    color: #030100;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.33px;
    margin-left: 5%;
  }
  .smalllinedown {
    position: relative;
    top: 26px;
    left: 34%;
    width: 50px;
    height: 28.5px;
    flex-shrink: 0;
    transform: rotate(8deg);
  }
  .comma {
    position: relative;
    top: 20px;
    left: 1%;
    width: 36px;
    height: 37.772px;
    flex-shrink: 0;
  }
  .aboutMeText {
    color: #030100;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
    letter-spacing: -0.3px;
    margin-top: 40px;
    width: 50%;
    
  }
  .me {
    position: relative;
    top: -50px;
    left: 5%; 
    
    flex-shrink: 0;
  }
  .resumeButton {
width: 211px;
height: 54px;
flex-shrink: 0;
background: linear-gradient(90deg, #F27507 42.5%, #CEA582 70.5%, #E08D45 100%);
border: 2px solid white;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
cursor: pointer;
transition: 0.3s ease-in-out;
margin-left: 9%;
}

.resumeButton:hover {
transform: scale(1.05);
}

.imgresume {
width: 35px;
height: 35px;
flex-shrink: 0;
}

.txtresume {
color: #030100;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;
text-decoration: none;
}
.linktreeButton {
width: 211px;
height: 54px;
flex-shrink: 0;
background: linear-gradient(90deg, #F27507 42.5%, #CEA582 70.5%, #E08D45 100%);
border: 2px solid white;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
cursor: pointer;
transition: 0.3s ease-in-out;
margin-left: 29%;
margin-top: -55px;
}

.linktreeButton:hover {
transform: scale(1.05);
}

.linktreeimg {
width: 35px;
height: 35px;
flex-shrink: 0;
}

.txtlinktre {
color: #030100;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgba(0, 0, 0, 0);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;
text-decoration: none;
}
.backbigrec {
width: 517px;
height: 599px;
position: relative;
top: -620px;
left: 76%;
transform: translateX(-50%);
flex-shrink: 0;
}
/* General Profile Card Styles */
.profile-card {
  width: 353px;
  height: 524px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 8px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.21px;
  position: relative;
  top: -1200px;
  left: 60%;
  text-align: left;
  
}
.cardtopic {
color: #8A8989;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.21px;
position: relative;
top: 0px;
left: -80px;

}

/* Code Styling */
pre {
  margin: 0;
  text-align: left;

}

/* Syntax Highlighting */
.keyword {
  color: #C792EA;
}

.variable {
  color: #FFF;
}

.symbol {
  color: #89DDFF;
}

.property {
  color: #80CBC4;
}

.string {
  color: #A5E844;
}


@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .aboutScreen {
        padding-top: 60px;
        background: #E9DDD2;;
        text-align: center;
        border-bottom: 1px solid #444;
        padding-bottom: 20px;
        overflow: hidden;
        height: 230vh;
    }

   .smalllineup {
    position: relative;
    top: -40px;
    left: 63.3%;
    width: 27.5px;
    height: 28.5px;
    rotate:16deg;

}
.smalllinedown{
    position: relative;
    top: 26px;
    left: 15%;
    width: 50px;
    height: 28.5px;
    flex-shrink: 0;
    transform: rotate(8deg);
}
.nametopline{
    margin-top: 0px;
    align-items: center;
    justify-items: center;
    color: #030100;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.33px;
    margin-left: 10%;
}
.comma{
    position: relative;
    top: 45px;
    left: 1%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.aboutMeText{
    color: #030100;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
    letter-spacing: -0.3px;
    margin-top: 40px;
    width: 80%;
    margin-left: 10%;
}
.me{
    position: relative;
    top: -50px;
    left: 15%; 
    flex-shrink: 0;
}

.resumeButton  {
    margin-left: 10%;
    margin-top: -10px;

}

.linktreeButton{
    margin-left: 55%;
    margin-top: -55px;
}

.backbigrec{
    width: 517px;
    height: 599px;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;
}

.profile-card {
    top: -500px;
    left: 14%;
}



}

@media (max-width: 600px){
    .aboutScreen{
        height: 240vh;
    }
    
    .smalllineup{
        margin-left: -10px;
    }
    .hello{
        left: 40%;
    }
    .nameline{
        margin-left: 0px;
    }
    .smalllinedown{
        margin-left: 0px;
    }
    .me{
        left: 1%;
    }
    .resumeButton{
        margin-left: 20%;
        width: 300px;
        margin-top: -40px;
        
    }
    .linktreeButton{
        margin-left: 20%;
        margin-top: 2%;
        width: 300px;
    }
    .profile-card{
        margin-left: -12%;
    }
    .backbigrec{
        margin-top: -10px;
        

    }
    
}




  